In [1]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np

In [2]:
## model
model=load_model('model.h5')


with open('Geo_OHE.pkl','rb') as f:
    ohe=pickle.load(f)

with open('Label_Encoder_Gender.pkl','rb') as f:
    le=pickle.load(f)

with open('scaler.pkl','rb') as f:
    scaler=pickle.load(f)

In [3]:
input_data = {
    'CreditScore': 600,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000
}

In [4]:
input_df = pd.DataFrame([input_data])

In [5]:
geo = ohe.transform(input_df[['Geography']]) 
geo_df = pd.DataFrame(geo, columns=ohe.get_feature_names_out(['Geography']))
geo_df

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [6]:
input_df= pd.concat([input_df.reset_index(drop=True),geo_df],axis=1)

In [7]:
input_df['Gender']=le.transform(input_df['Gender'])

In [8]:
input_df=pd.concat([input_df.drop("Geography",axis=1),geo_df])

In [15]:
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600.0,1.0,40.0,3.0,60000.0,2.0,1.0,1.0,50000.0,1.0,0.0,0.0
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0

In [16]:
input_scaled= scaler.transform(input_df)

In [17]:
input_scaled

array([[-0.47154541,  0.90911166,  0.09477172, -0.69844549, -0.29010416,
         0.80510537,  0.63367318,  0.95214374, -0.84805047,  0.98019606,
        -0.57581067, -0.56349184],
       [        nan,         nan,         nan,         nan,         nan,
                nan,         nan,         nan,         nan,  0.98019606,
        -0.57581067, -0.56349184]])

In [19]:
model.predict(input_scaled)

1/1 [==============================] - 0s 13ms/step

array([[0.02323287],
       [       nan]], dtype=float32)